
<div class="row container" >
    <div class="col-8">
        <h1 class="display-4">Wanda Vision</h1>
        <p>
            La propuesta de WandaVision (Jac Schaeffer, 2021), primera serie del Universo Cinematográfico de Marvel con dos episodios disponibles ya en Disney Plus, es extraña como mínimo. Su formato de sitcom resulta desconcertante para los espectadores por el acostumbrado espectáculo de acción visto hasta ahora en las películas de la saga. Pero que decidieran escoger dicho formato se debe a la propia naturaleza del argumento, que involucra a Bruja Escarlata (Elizabeth Olsen) y Visión (Paul Bettany). Y lo cierto es que nos han dejado otra pista sobre qué diantres está ocurriendo aquí en un inesperado huevo de pascua.
        </p>
    </div>
    <div class="col-4 p-2">
        <img src="assets/img/wandaVision.jpg"  width="auto" height="200px" 
        class="rounded " alt="Wanda Vision">
    </div>
</div>